.books-grid {
    padding-left: 0;
    li {
        list-style-type: none;
        img {
            height: 242px;
            border-radius: 1rem;
        }        
        .title {
            @media($sm) {
                min-height: 50px;
            }
            h3 {
                font-size: 1.3rem;
            }
        }
        h4 {
            font-weight: 100;
            font-size: 1rem;
        }
        .book-info {
            div {
                width: 50%;
                @media($xs) {
                    width: 35%;
                }
                @media($sm) {
                    width: 50%;
                }
                @media($md) {
                    width: 75%;
                }
                @media($lg) {
                    width: 60%;
                }
            }
        }
    }

    /* stars */
    .book-rating {
        label  {
            padding: 5px;
            &:before {
                content: "\f005";
                font-family: 'Font Awesome\ 5 Free';
                font-weight: 900;
            }
        }
        input {
            display: none;
        }
    }
}
.select-div {
    display: inline-block;
    position: relative;
    label {
        padding-left: 1rem;
    }
    select {
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
        display: inline-block;
    }
    /* ARROW DROPDOWN */
    &:after {
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        content: "\f107";
        position: absolute;
        top: 2.2rem;
        right: 1rem;
        font-size: 0.6rem;
    }
    // &:focus {
    //     &:after {
    //         -webkit-transform: rotate(90deg);
    //         -moz-transform: rotate(90deg);
    //         -ms-transform: rotate(90deg);
    //         transform: rotate(90deg);
    //     }
    // }
}
.fa-circle {
    font-size: 0.2rem;
}