// * {
//     outline: 1px solid pink;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

// RESET
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
// TEXT
h1, h2, h3, h4, h5, h6, label {
    font-family: $heading-primary;
}
body {
    font-family: $body;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
html {
    height: 100%;
}
main {    
    margin-inline: auto;
    width: min(80%, 70.5rem);
}

.hidden {
    display: none;
}
.link {
    text-decoration: underline;
    cursor: pointer;
}
.primary-btn, .secondary-btn {
    font-family: $heading-primary;
    font-weight: 500;
    border-radius: $radius-max;
    border: none;
    &.primary-btn {
        padding: 0.8rem 1.5rem;
    }
    &.secondary-btn {
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
    }
}