// Fonts
$heading-primary: 'Poppins', sans-serif;
$body: system-ui;

$radius: 0.5rem;
$radius-max: 50px;

// Breakpoints - mobile first
$xs: "width >= 450px";
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";

// Colors

$p-black: hsl(0, 0%, 0%);
$p-white: hsl(0, 0%, 100%);

$transparent-50: rgba(255, 255, 255, 0.46);
$transparent-100: rgba(253, 253, 253, 0);

$primary-gradient: #B8C6DB, #e5e9ef, #B8C6DB;    
$secondary-gradient: #000031, #1d1855, #000031;    

$danger-500: hsl(0, 100%, 51%);
$danger-50: hsl(354, 72%, 78%);

$accent-50: #909ec9;
