@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css") layer(bootstrap);
@layer bootstrap, special-styles;
@layer special-styles {
  *,
*::before,
*::after {
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6, label {
    font-family: "Poppins", sans-serif;
  }
  body {
    font-family: system-ui;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  html {
    height: 100%;
  }
  main {
    padding: 0 1rem;
  }
  .main {
    max-width: 33rem;
    margin: auto;
  }
  .hidden {
    display: none;
  }
  .link {
    text-decoration: underline;
    cursor: pointer;
  }
  .primary-btn, .secondary-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    font-size: 0.8rem;
  }
  .primary-btn.primary-btn, .secondary-btn.primary-btn {
    padding: 0.8rem 1.5rem;
  }
  .primary-btn.secondary-btn, .secondary-btn.secondary-btn {
    padding: 0.5rem 1rem;
  }
  input:not(input[type=radio]), input:active:not(input[type=radio]), input:focus:not(input[type=radio]),
input:-webkit-autofill:not(input[type=radio]),
input:-webkit-autofill:focus:not(input[type=radio]),
input:-webkit-autofill:active:not(input[type=radio]), select:not(input[type=radio]) {
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.26) 0%, rgba(249, 241, 241, 0.202) 100%), -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.66) 0%, rgba(253, 253, 253, 0) 100%);
    font-weight: 600;
    font-family: system-ui;
  }
  input:not(input[type=radio])::placeholder, input:active:not(input[type=radio])::placeholder, input:focus:not(input[type=radio])::placeholder,
input:-webkit-autofill:not(input[type=radio])::placeholder,
input:-webkit-autofill:focus:not(input[type=radio])::placeholder,
input:-webkit-autofill:active:not(input[type=radio])::placeholder, select:not(input[type=radio])::placeholder {
    font-weight: 600;
    font-family: system-ui;
  }
  input:active, input:focus, input:-webkit-autofill:focus, input:-webkit-autofill:active, select:hover {
    box-shadow: 0 0 1em 0.2em hsla(0deg, 0%, 100%, 0.491);
    -webkit-box-shadow: 0 0 1em 0.2em hsla(0deg, 0%, 100%, 0.491);
  }
  label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .alert-danger {
    background: hsl(354deg, 80%, 76%);
    border-radius: 50px;
    border-color: hsl(0deg, 100%, 51%);
    padding: 0.8rem 1.5rem;
    color: hsl(0deg, 100%, 51%);
    font-weight: 700;
  }
  .alert-danger .fa-solid {
    color: hsl(0deg, 100%, 51%);
    font-size: 1.1rem;
  }
  .error {
    color: hsl(0deg, 100%, 51%);
    border-color: hsl(0deg, 100%, 51%);
    -webkit-text-fill-color: hsl(0deg, 100%, 51%);
    box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
    -webkit-box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
  }
  .error:-webkit-autofill, .error:-webkit-autofill:focus, .error:-webkit-autofill:active {
    color: hsl(0deg, 100%, 51%);
    border-color: hsl(0deg, 100%, 51%);
    -webkit-text-fill-color: hsl(0deg, 100%, 51%);
    box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
    -webkit-box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
  }
  .error:active, .error:focus, .error:-webkit-autofill:focus, .error:-webkit-autofill:active {
    box-shadow: 0 0 1em 0.2em hsl(0deg, 100%, 51%);
    -webkit-box-shadow: 0 0 1em 0.2em hsl(0deg, 100%, 51%);
  }
  .form-text {
    padding-left: 1.5rem;
  }
  header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.119) 0%, rgba(255, 255, 255, 0) 100%);
    height: 150px;
  }
  header div i, header div p {
    font-size: 1rem;
  }
  header div .logo {
    font-size: 2rem;
    margin-right: 1rem;
  }
  header button img {
    width: 20px;
  }
  footer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.119) 100%);
    height: 150px;
    margin-top: auto;
  }
  .books-grid {
    padding-left: 0;
    /* stars */
  }
  .books-grid li {
    list-style-type: none;
  }
  .books-grid li img {
    height: 242px;
    border-radius: 1rem;
  }
  @media (width >= 576px) {
    .books-grid li .title {
      min-height: 50px;
    }
  }
  .books-grid li .title h3 {
    font-size: 1.3rem;
  }
  .books-grid li h4 {
    font-weight: 100;
    font-size: 1rem;
  }
  .books-grid .book-rating label {
    padding: 5px;
  }
  .books-grid .book-rating label:before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .books-grid .book-rating input {
    display: none;
  }
  .selectdiv {
    position: relative;
    display: inline-block;
  }
  .selectdiv select {
    padding-left: 1.5rem;
    display: inline-block;
  }
  .selectdiv:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    top: 36px;
    right: 22px;
  }
  body.minimalist {
    background: #eae1d4; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eae1d4, #f6efe2, #eae1d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  body.minimalist h1, body.minimalist h2, body.minimalist h3, body.minimalist h4, body.minimalist h5, body.minimalist h6, body.minimalist p, body.minimalist label, body.minimalist i, body.minimalist .primary-btn, body.minimalist .secondary-btn, body.minimalist .form-text,
body.minimalist input:active, body.minimalist input:focus,
body.minimalist input:-webkit-autofill,
body.minimalist input:-webkit-autofill:focus,
body.minimalist input:-webkit-autofill:active, body.minimalist .selectdiv:after, body.minimalist select, body.minimalist select::placeholder, body.minimalist input, body.minimalist input::-webkit-input-placeholder, body.minimalist .error:focus {
    color: hsl(0deg, 0%, 0%);
  }
  body.minimalist .primary-btn, body.minimalist .secondary-btn {
    background-color: #909ec9;
  }
  body.minimalist .primary-btn:hover, body.minimalist .secondary-btn:hover {
    box-shadow: 0 0 1em 0.2em #909ec9;
    -webkit-box-shadow: 0 0 1em 0.2em #909ec9;
    background-color: transparent;
  }
  body.minimalist .active, body.minimalist .fa-star, body.minimalist .link {
    color: #909ec9;
  }
  body.midnight {
    background: #000031; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000031, #1d1855, #000031); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  body.midnight h1, body.midnight h2, body.midnight h3, body.midnight h4, body.midnight h5, body.midnight h6, body.midnight p, body.midnight label, body.midnight i, body.midnight .primary-btn, body.midnight .secondary-btn, body.midnight .form-text,
body.midnight input:active, body.midnight input:focus,
body.midnight input:-webkit-autofill,
body.midnight input:-webkit-autofill:focus,
body.midnight input:-webkit-autofill:active, body.midnight .selectdiv:after, body.midnight select, body.midnight select::placeholder, body.midnight input, body.midnight input::-webkit-input-placeholder, body.midnight .error:focus {
    color: hsl(0deg, 0%, 100%);
  }
  body.midnight .primary-btn, body.midnight .secondary-btn {
    background-color: #909ec9;
  }
  body.midnight .primary-btn:hover, body.midnight .secondary-btn:hover {
    box-shadow: 0 0 1em 0.2em #909ec9;
    -webkit-box-shadow: 0 0 1em 0.2em #909ec9;
    background-color: transparent;
  }
  body.midnight .active, body.midnight .fa-star, body.midnight .link {
    color: #909ec9;
  }
}/*# sourceMappingURL=style.css.map */