@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css") layer(bootstrap);
@layer bootstrap, special-styles;
@layer special-styles {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: hsl(0deg, 0%, 100%);
  }
  body {
    font-family: system-ui;
    color: hsl(0deg, 0%, 100%);
    font-size: 0.8rem;
  }
  html {
    min-height: 100vh;
  }
  body {
    background: linear-gradient(-20deg, hsl(352deg, 96%, 68%) 0%, hsl(28deg, 100%, 63%) 100%), -webkit-linear-gradient(-20deg, hsl(352deg, 96%, 68%) 0%, hsl(28deg, 100%, 63%) 100%);
  }
  main {
    padding: 0 1rem;
  }
  .main {
    max-width: 33rem;
    margin: auto;
  }
  i {
    color: hsl(0deg, 0%, 100%);
  }
  .hidden {
    display: none;
  }
  .link {
    text-decoration: underline;
    color: hsl(333deg, 100%, 36%);
    cursor: pointer;
  }
  .primary-btn {
    font-family: "Poppins", sans-serif;
    color: hsl(0deg, 0%, 100%);
    font-weight: 500;
    background: radial-gradient(circle 610px at 5.2% 51.6%, hsla(341deg, 85%, 60%, 0.91) 0%, hsl(354deg, 68%, 48%) 97.5%);
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
  }
  .primary-btn:hover {
    background: none;
    box-shadow: 0 0 1em 0.2em hsl(333deg, 100%, 58%);
    -webkit-box-shadow: 0 0 1em 0.2em hsl(333deg, 100%, 58%);
    color: hsl(333deg, 100%, 58%);
  }
  input:not(input[type=radio]), input:active:not(input[type=radio]), input:focus:not(input[type=radio]),
input:-webkit-autofill:not(input[type=radio]),
input:-webkit-autofill:focus:not(input[type=radio]),
input:-webkit-autofill:active:not(input[type=radio]) {
    border-radius: 50px;
    padding: 0.8rem 1.5rem;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.26) 0%, rgba(249, 241, 241, 0.202) 100%), -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.66) 0%, rgba(253, 253, 253, 0) 100%);
  }
  input:not(input[type=radio])::placeholder, input:active:not(input[type=radio])::placeholder, input:focus:not(input[type=radio])::placeholder,
input:-webkit-autofill:not(input[type=radio])::placeholder,
input:-webkit-autofill:focus:not(input[type=radio])::placeholder,
input:-webkit-autofill:active:not(input[type=radio])::placeholder {
    font-weight: 700;
    font-family: system-ui;
    background: linear-gradient(hsl(28deg, 100%, 63%), hsl(352deg, 96%, 68%)), -webkit-linear-gradient(hsl(28deg, 100%, 63%), hsl(352deg, 96%, 68%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  input:active, input:focus, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    box-shadow: 0 0 1em 0.2em hsla(0deg, 0%, 100%, 0.491);
    -webkit-box-shadow: 0 0 1em 0.2em hsla(0deg, 0%, 100%, 0.491);
  }
  label {
    font-family: "Poppins", sans-serif;
    color: hsl(0deg, 0%, 100%);
    font-weight: 500;
  }
  .alert-danger {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.26) 0%, rgba(249, 241, 241, 0.202) 100%), -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.66) 0%, rgba(253, 253, 253, 0) 100%);
    border-radius: 50px;
    border-color: hsl(0deg, 100%, 51%);
    padding: 0.8rem 1.5rem;
    color: hsl(0deg, 100%, 51%);
    font-weight: 700;
  }
  .alert-danger .fa-solid {
    color: hsl(0deg, 100%, 51%);
    font-size: 1.1rem;
  }
  .error {
    color: hsl(0deg, 100%, 51%);
    border-color: hsl(0deg, 100%, 51%);
    -webkit-text-fill-color: hsl(0deg, 100%, 51%);
    box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
    -webkit-box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
  }
  .error::-moz-placeholder {
    background: linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%)), -webkit-linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .error:-ms-input-placeholder {
    background: linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%)), -webkit-linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .error::placeholder {
    background: linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%)), -webkit-linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .error:-webkit-autofill, .error:-webkit-autofill:focus, .error:-webkit-autofill:active {
    color: hsl(0deg, 100%, 51%);
    border-color: hsl(0deg, 100%, 51%);
    -webkit-text-fill-color: hsl(0deg, 100%, 51%);
    box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
    -webkit-box-shadow: 0 0 1px 0.1em hsl(0deg, 100%, 51%) inset;
  }
  .error:active, .error:focus, .error:-webkit-autofill:focus, .error:-webkit-autofill:active {
    box-shadow: 0 0 1em 0.2em hsl(0deg, 100%, 51%);
    -webkit-box-shadow: 0 0 1em 0.2em hsl(0deg, 100%, 51%);
  }
  .error:active::placeholder, .error:focus::placeholder, .error:-webkit-autofill:focus::placeholder, .error:-webkit-autofill:active::placeholder {
    background: linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%)), -webkit-linear-gradient(hsl(0deg, 100%, 51%), hsl(354deg, 92%, 66%));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  .form-text {
    color: hsl(0deg, 0%, 100%);
    padding-left: 1.5rem;
  }
  header div i, header div p {
    font-size: 1rem;
  }
  .books-grid {
    padding-left: 0;
    /* stars */
  }
  .books-grid li {
    list-style-type: none;
  }
  .books-grid li img {
    height: 242px;
  }
  .books-grid li h3 {
    font-weight: 100;
    font-size: 1.2rem;
    font-style: italic;
  }
  .books-grid .book-rating label {
    text-shadow: 0.05rem 0.04rem hsla(0deg, 0%, 100%, 0.491);
    padding: 5px;
  }
  .books-grid .book-rating label:before {
    content: "★";
  }
  .books-grid .book-rating input {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */